.calendar-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #5a2d8c; /* Ajuste da cor do fundo para mais parecido com a imagem */
  color: white;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.calendar-week {
  display:table-row-group;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.calendar-day-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5a2d8c;
}

.event {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.event-time {
  font-size: 12px;
  color: #555;
}

.event-title {
  font-size: 14px;
  color: #333;
}

.navigation button {
  background-color: #ff9c5b;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #ff7e2a;
}

.navigation {
  display: flex;
  gap: 10px;
}

/* Mobile Styling */
@media (max-width: 480px) {
  .calendar-container {
    padding: 10px;
    width: 100%;
  }

  .calendar-header {
    font-size: 14px;
  }

  .calendar-day-header {
    font-size: 16px;
  }

  .event-time, .event-title {
    font-size: 12px;
  }

  .calendar-week {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .calendar-day {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
  }

  .event {
    background-color: #c5c5c5;
    color: white;
  }

  .event-time, .event-title {
    color: #fff;
  }
}
