/* Define o fundo da página em um tom de azul específico */
/*body {
    background-color: #5525af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilização da área principal */
/*.home-container {
    background-color: rgb(209, 208, 208);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

/* Estilização do menu */
/*.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Botões do menu */
/*.menu button {
    background-color: #5525af;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
}

.menu button img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.menu button:hover {
    background-color: #5A9BD4;
    transform: scale(1.05);
}*/

/* Define o fundo da página em um tom de azul específico */
body {
    background-color: #5525af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilização da área principal */
.home-container {
    background-color: rgb(209, 208, 208);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.home-container button{
    width: 50px;
    height: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização do menu - modificações para 2x2 */
.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas */
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
}

/* Botões do menu */
.menu button {
    background-color: #5525af;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
}

.menu button img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.menu button:hover {
    background-color: #5A9BD4;
    transform: scale(1.05);
}

